.navBar-container{
    .navBar-container--logo{
        color: #046E1B;
        font-family: Inter;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}